@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    height: 100vh;
    width: 100vw;
    background: #f6f8fa;
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar{
    width: 15vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    color: black;
    position: fixed;
    top: 0;
    padding: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
}

.inbox, .today, .upcoming, .project{
    padding: 10px;
    margin: 10px;
    background: #b1aaf5;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.inbox:hover, .today:hover, .upcoming:hover, .project:hover{
    transition: .5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.project{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.project__btn{
    color: grey;
}

.project-name{
    /* border: 2px solid grey; */
    height: 10vh;
    width: 100%;
    margin-left: 25vw;
    padding-top: 4px;
    font-size: 3rem;
    font-weight: bolder;
}

.projects__btn{
    margin: 10px;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(85vw - 20px);
    padding-left: 15vw;
    /* margin-left: 50vw; */
    /* margin-top: 50px; */
}

.create-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    width: 85vw;
    height: auto;
    font-size: 3rem;
}

.create-button__btn{
    height: 71px;
    width: 71px;
    /* display: block;
    margin: auto; */
    text-align: center;
    border-radius: 100px;
    box-shadow:.8rem .8rem 1.4rem lightgray, 
            -.2rem -.2rem 1.8rem white;
}

.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -20vh;
    backdrop-filter: blur(10px);
    transform: scale(0);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.popup-container__form{
    background: white;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    gap: 10px;
}

input{
    padding: 10px;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
}

input:focus, textarea:focus{
    outline: none;
}

.popup-container__form__taskname, .popup-container__form__priority,
.popup-container__form__date, .popup-container__form__description{
    display: flex;
    flex-direction: column;
}

.active{
    transition: .2s linear;
    filter: blur(20px); 
}

.inactive{
    transition: .2s linear;
    filter: blur(0px); 
}

.sidebar, .content, .project-name, .create-button{
    transition: .2s linear;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: #f6f8fa;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.task__right, .task__left{
    display: flex;
    align-items: center;
    height: 100%;
}

.task__left{
    justify-content: flex-end;
}

.task__checkbox{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.task__checkbox:hover{
    transition: .2s linear;
    background-color: lightgray;
}

.task__name-and-description{
    padding-left: 10px;
    padding-right: 200px;
    border-left: 1px solid black;
}

.name{
    font-size: 1.4rem;
}

.description{
    font-size: 0.7rem;
}

.task__origin, .task__time-left{
    border-right: 1px solid black;
    padding: 10px;
}

.task__time-left{
    margin-left: 10px;
    /* padding-right: 200px; */
}

.task__date{
    margin-left: 10px;
    /* border-left: 1px solid black; */
    padding: 10px;
}

.task:active{
    transform: scale(1.005);
}