@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    height: 100vh;
    width: 100vw;
    background: #b1aaf5;
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar{
    width: 15vw;
    height: 100vh;
    background: #06283D;
    display: flex;
    flex-direction: column;
    color: #dff6ff;
    position: fixed;
    top: 0;
    padding: 20px;
    gap: 40px;
}

.sidebar__top, .sidebar__bottom{
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
}

.sidebar__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-size: 1rem;
}

.inbox, .today, .upcoming, .project, .projects__btn{
    padding: 10px;
    margin: 10px;
    background: #b1aaf5;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inbox:active, .today:active, .upcoming:active, .project:active{
    transition: .05s ease;
    outline: 3px solid #dff6ff;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.project__btn{
    color: #dff6ff;
}

.project-name{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 68.2%;
    margin-left: 22.8vw;
    padding-top: 4px;
    font-size: 3rem;
    font-weight: bolder;
}

.projects__buttons{
    display: flex;
    justify-content: space-evenly;
}

.projects__btn--submit, .projects__btn--close{
    background:#b1aaf5;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.projects__name-input{
    margin: 10px;

    border-radius: 20px;
    width: 86%;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(85vw - 20px);
    padding-left: 15vw;
    /* margin-left: 50vw; */
    /* margin-top: 50px; */
    z-index: -1;
}

.create-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    margin-top: 10px;
    width: 85vw;
    height: auto;
    font-size: 3rem;
    z-index: 3;
}

.create-button__btn{
    height: 71px;
    width: 71px;
    /* display: block;
    margin: auto; */
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #dff6ff;
}

.create-button__btn:hover{
    transition: .4s linear;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    transform: scale(0);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.popup-container__form{
    background: white;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    gap: 10px;
}

input, select{
    background: white;
    padding: 10px;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    text-align: center;
}

input:focus, textarea:focus{
    outline: none;
}

.popup-container__form__taskname, .popup-container__form__priority,
.popup-container__form__date, .popup-container__form__description{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__submit-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #b1aaf5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.form__submit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.form__submit-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.form__submit-button:hover span {
    padding-right: 25px;
}

.form__submit-button:hover span:after {
    opacity: 1;
    right: 0;
}

.active{
    transition: .2s linear;
    filter: blur(20px); 
}

.inactive{
    transition: .2s linear;
    filter: blur(0px); 
}

.sidebar, .content, .project-name, .create-button{
    transition: .2s linear;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: #DFF6FF;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.task__right, .task__left{
    display: flex;
    align-items: center;
    height: 100%;
}

.task__left{
    justify-content: flex-end;
}

.task__checkbox{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.task__checkbox:hover{
    transition: .2s linear;
    background-color: #b1aaf5;
}

.task__name-and-description{
    padding-left: 10px;
    padding-right: 200px;
    border-left: 1px solid black;
}

.name{
    font-size: 1.4rem;
}

.description{
    font-size: 0.7rem;
}

.task__origin, .task__time-left{
    border-right: 1px solid black;
    padding: 10px;
}

.task__time-left{
    margin-left: 10px;
    /* padding-right: 200px; */
}

.task__date{
    margin-left: 10px;
    /* border-left: 1px solid black; */
    padding: 10px;
}

.task:active{
    transform: scale(1.005);
}